<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "rubylee8", :media => "all" %>
  <%= stylesheet_link_tag	 "main" %>
  <%= stylesheet_link_tag	  "normalize.css" %>
  <script text='text/javascript' src="assets/lib/jquery-1.9.1.js"></script>
  <script text='text/javascript' src="assets/lib/modernizr.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
